<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.59.0.0" targetFramework="native" />
  <package id="builddir.props" version="1.6.0" targetFramework="native" />
  <package id="bwapi-vc120" version="4.1.2.2" targetFramework="native" developmentDependency="true" />
</packages>